@using hand2hand.Models
@model ProductsListVIewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Products</h2>

@foreach (var product in Model.Products)
{
    <div>
        <img src="@product.Url" height="250" width="200" />
        <h3>@product.Name</h3>
        <h4>@product.Price.ToString("# uah")</h4>
        <p>@product.Category</p>
        <p>@product.Description</p>
    </div>
    <hr />
}

@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }));


